body {
  background-color: #2a2727;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

/** navigation **/
.navbar{
    position: fixed;
    top: 1vh;
    left: 1vh;

    width: 99%;
    height: 5vh;
    border-radius: 20px;

    text-align: center;
    padding-top: 2vh;
    padding-bottom: 0;
    font-size: 1.1rem;
    background-color: rgb(20, 12, 10);

    z-index: 9;
}
.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 15px;
}
.navbar a:hover{
    color: rgb(182, 174, 174);
    text-decoration: underline;
}



/** footer **/
footer{
    position: fixed;
    bottom: 1vh;
    right: 1vh;

    background-color: rgb(20, 12, 10);
    border-radius: 20px;
    width: 20%;
    
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    
}


/** central content **/
.banner img{
    position: absolute;
    left: 35%;
    top: 15%;

    width: 65vh;
    aspect-ratio: 1 / 1; 
    border-radius: 50%; 
    border: 0.3vh solid black;       
    object-fit: cover;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);

    z-index: 1;
}

.introduction h1, .portfolio h1, address p, .schedule h1, .assignment h1{
    background-color: rgb(97, 56, 56);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    width: 30vh;
    height: 2.7rem;
    border-radius: 20px;

    text-align: center;
    padding-top: 0.6rem;
    font-size: 1.7rem;
    z-index: 2;
}
address p{
    height: 4.7rem;
}

/** titles positioning **/
.introduction h1{
    position: absolute;
    left: 13%;
    top: 18%;
}

.schedule h1{
    position: absolute;
    left: 13%;
    top: 62%;
}

.assignment h1{
    position: absolute;
    left: 75%;
    top: 18%;
}
.portfolio h1{
    position: absolute;
    left: 75%;
    top: 62%;
}
address p{
    position: absolute;
    left: 44%;
    top: 82%;
}

/** block content **/
.introContent, .assignmentContent, .portfolioContent, .contactContent, .tableContainer{
    background-color: rgb(211, 182, 164);
    visibility: hidden;
    z-index: 3;
}

.introContent{
    position: absolute;
    left: 2%;
    top: 26%;

    padding-left: 2vh;
    width: 60vh;

    border-radius: 20px;
}

.assignmentContent{
    position: absolute;
    left: 70%;
    top: 26%;

    padding-left: 2vh;
    width: 50vh;

    border-radius: 20px;
}
.assignmentContent a{
    text-decoration: none;
    color: white;
}
.assignmentContent a:hover{
    color: black;
    text-decoration: underline;
}

.contactContent{
    position: absolute;
    left: 29%;
    top: 87%;

    padding: 2vh;
    width: 30vh;

    border-radius: 20px;
}
.contactContent a{
    text-decoration: none;
    color: white;
}
.contactContent a:hover{
    color: rgb(182, 174, 174);
    text-decoration: underline;
}

.portfolioContent{
    position: absolute;
    left: 38%;
    top: 13%;

    columns: 2;               
    column-gap: 0.8rem;

    padding-right: 2vh;
    width: 80vh;

    border-radius: 20px;
}

.tableContainer{
    position: absolute;
    left: 25%;
    top: 23%;

    padding: 2vh;
    width: 80vh;

    border-radius: 20px;

}
table, th, td {
    border: 2px solid rgb(20, 12, 10);;
    padding: 0.5vh;
}
table {
    border-collapse: collapse;
}
td.DayW {
    background-color: rgba(129, 129, 103, 0.349);
    font-weight: bold;
    text-align: center;
}
td.WebDev {
    background-color: rgba(122, 152, 122, 0.486);
    text-align: center;
}
td.WebNewMedia {
    background-color: rgba(120, 106, 134, 0.47);
    text-align: center;
}
td.Animation {
    background-color: rgba(113, 155, 164, 0.53);
    text-align: center;
}


/** hide&unhide**/
.introduction h1:hover + .introContent,
.assignment h1:hover + .assignmentContent,
address p:hover + .contactContent,
.portfolio h1:hover + .portfolioContent,
.schedule h1:hover + .tableContainer{
    visibility: visible;
    transition: visibility 2s ease;
}
.introduction h1:hover{
    transform: translateX(8.9vh);
    border-radius: 20px 20px 0 0;
    transition: transform 0.2s ease, border-radius 0.2s ease;
}

.assignment h1:hover{
    transform: translateX(-10.1vh);
    border-radius: 20px 20px 0 0;
    transition: transform 0.2s ease, border-radius 0.2s ease;
}

.portfolio h1:hover{
    transform: translateY(12.7vh);
    border-radius: 0 20px 20px 0;
    transition: transform 0.4s ease, border-radius 0.2s ease;
}

.schedule h1:hover{
    transform: translateY(8.9vh);
    border-radius: 20px 0 0 20px;
    transition: transform 0.4s ease, border-radius 0.2s ease;
}